.fond-img {
  background: url("https://media.canalnet.tv/2021/04/Superhe%CC%81roes-974x550.jpeg");
  background-position: center;
  background-size: cover;
}
.transparentbackground {
  background-color: #f0fff094;
}

.textLabel {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.texth1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
